<footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.842);">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-github"></i>
        </a>
        <p class="mt-3 fw-bold">
          <u>rantalaihomiika@gmail.com</u>
        </p>
    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"></a>
    </div>
  </footer>