<!-- Nav bar -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light py-3" style="background-color: rgba(0, 0, 0, 0.692);">
  <div class="container-fluid">   

      <a href="./index.html">           
          <img src="./img/IMG_20220709_015303.jpg" width="100" height="60" class="mx-5">
      </a>
      
      <!--Hampurilais menu-->
      <button class="navbar-toggler mx-5" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon bg-white p-4 rounded"></span>
      </button>
      <!--Hampurilais menu-->

      <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-3">
              <a class="nav-link text-light mx-3" href="./index.html"><i class="fa fa-solid fa-house-user mx-1" style="color:rgb(179, 200, 240)"></i> ETUSIVULLE</a>
              <a class="nav-link text-light mx-3" href=""><i class="fa fa-solid fa-address-book mx-1" style="color:rgb(179, 200, 240)"></i> REFERENSSIT</a>
              <a class="nav-link text-light mx-3" href=""><i class="fa fa-solid fa-money-check mx-1" style="color:rgb(179, 200, 240)"></i> HINNASTO</a>
              <a class="nav-link text-light mx-3 btn border-2 px-3 rounded-pill" style="background-color: rgb(116, 42, 212)" href="">YHTEYSTIEDOT & LOMAKE <i class="fa fa-solid fa-comments mx-2"></i></a>
          </div>
      </div>
  </div>
</nav>