<nav class="navbar fixed-top navbar-expand-lg py-3" style="background-color: rgba(0, 0, 0, 0.116);">
    <div class="container-fluid">   

        <a href="./index.html">           
            <img src="../img/IMG_20220709_015303.jpg" width="100" height="60" class="mx-5">
        </a>
        
        <!--Hampurilais menu-->
        <button class="navbar-toggler mx-4" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Hampurilais menu-->

        <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-3">
                <a class="nav-link text-light mx-3" href="./index.html">ETUSIVULLE</a>
                <a class="nav-link text-light mx-3" href="">REFERENSSIT</a>
                <a class="nav-link text-light mx-3" href="">HINNASTO</a>
                <a class="nav-link text-light mx-3" href="">YHTEYSTIEDOT & LOMAKE</u></a>
            </div>
        </div>
    </div>
</nav>



